<lib-ngx-image-fullscreen-viewer
  [images]="images"
  [paginationShow]="true"
  [show]="{ visibleFlag: showFullscreen, index: imageIndex }"
  (close)="showFullscreen = false"
></lib-ngx-image-fullscreen-viewer>

<ngx-stack-image-viewer
  [theImages]="images"
  [theThumbImages]="images"
  [transitionDuration]="0.5"
  [previewImageGap]="0"
  [previewImageBorderWidth]="4"
  previewImageBorderColor="red"
  maxWidth="1000px"
  [previewImageWidth]="100"
>
</ngx-stack-image-viewer>

<button (click)="imageIndex = 0; showFullscreen = !showFullscreen">
  Open Fullscreen Viewer
</button>
